<% provide(:title, "Edit user") %>
<div class="row">
  <div class="col-md-4 "></div>
  <div class="col-md-4 text-center">
  <h1>Update your Profile</h1>
</div>
<div class="col-md-4">
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
    <%= form_for(@user) do |f| %>


      <%= render 'fields', f: f %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>
</div>
</div>
