<% provide(:title, 'Dating') %>
<div class="row">
<div class="col-md-3"></div>
    	<div class="col-md-6 text-center">
<h1>Check out these dates</h1>
</div>
<div class="col-md-3"></div>
</div>
<br>
<br>
<%= render @users.sample %>
