<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="col-md-4 "></div>
  <div class="col-md-4 text-center">
  <h1>Create your Profile</h1>
</div>
<div class="col-md-4">
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
    <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary form-control" %>
    <% end %>
  </div>
</div>
</div>
</div>
